<!DOCTYPE html>
<html>
<head>
  <meta  name="viewport" content="width=device-width">
  <title>りすとがぞったー</title>
</head>
<body>
  <header>

<!-- navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="">りすとがぞったー</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>
<!--  -->

  </header>
  <div class="contents">
    <div id="main">
      <h3>イラスト更新チェックをかんたんに</h3>
        <p>　あなたの"リスト"タイムラインの画像付きツイートのみを抽出して表示するので、お気に入り絵師さんのイラスト・漫画の更新をかんたんに確認できます。</p>
      <div id="menu">
        <%= link_to image_tag('/assets/twitter_login_button.png', { :size => '224x40', :border => '0', :alt => 'ログイン'}), '/auth/twitter', class: "twitter_login_button" %>
      </div><!-- menu -->
      <h4>利用方法</h4>
        　「twitter」と一緒に使います。
      <ul style="list-style-type: decimal;">
        <li>「Twitter」の 「設定→リスト」から、ジャンルごとにリストを作成する。</li>
        <li>(例: ラブライブ!神絵師さん,デレマス４コマ,とらドラ！イラスト,など。)</li>
        <li>「◯◯リスト→編集→ユーザーの管理」から、◯◯リストにお気に入り絵師さんを登録する。</li>
        <li>「りすとがぞったー」で各リストのイラスト更新をチェック(`・ω・´)ｂ</li>
      </ul>
      <h4>ご利用規約</h4>
        <ul>
          <li>利用は無料ですので、どなたでもお気軽にいつでもお楽しみいただけます。</li>
          <li>Twitter認証は、"ツイートなどの情報を読み込む為のみ"に使用されます。ツイートしたりフォローしたり等の乗っ取り行為は一切されませんので、安心してご利用ください。</li>
        </ul>
      <h4>おまけ</h4>
        <ul style="list-style:none;">
          <li>当サービスは、ベータ版(プロトタイプ)につき、ご意見やご感想を募集中です。<br>
          　∧,,,,∧ <br>
          .(*`･ω･)　<　<a href="">こちらのフォーム</a>から<br>
          ./つ(⌒⌒)<br>
          しー ＼／　　または<br>
           作成者<a href="https://twitter.com/MosamosaPoodle?lang=ja">@MosamosaPoogle</a>にDM<br>
          </li>
          <li>今後バージョンアップする際や不具合修正などの参考にさせていただきます。よろしくお願いいたします！</li>
        </ul>
      </div><!-- main -->
    </div><!-- contents -->
</body>
</html>