<!DOCTYPE html>
<html>
<head>
  <title>Twilogintest</title>

</head>
<body>

<body>
  <header>
    <h6>ついったー</h6>
  </header>

  <div class="contents">

  <div id="main">


<h3>絵師さんのイラスト更新確認をかんたんに</h3>
  <p>　あなたの"リスト"タイムラインの画像付きツイートのみを抽出して表示するので、お気に入り絵師さんのイラスト・漫画の更新をかんたんに確認できます。</p>
     <div id="menu">
 <%= link_to image_tag('/images/newreg.png', { :border => '0', :alt => 'ログイン'}), '/auth/twitter' %>
   </div>
<h3>利用方法</h3>
　twitterと一緒に使います。
  <ul style="list-style:none;">
    <li>①ジャンルごとにリストを作成する。</li>
    　　(例: ラブライブ!,デレマス,など。)
    <li>②各リストにお気に入り絵師さんを登録する。</li>
    <li>③ついったーで各リストのイラスト更新をチェック♪</li>
  </ul>
<h4>ご利用規約</h4>
  <ul style="list-style:none;">
    <li>利用は無料ですが、<a href="http://www.netmania.jp/abouts.php">に関してはこちら</a>をご覧下さい。</li>
    <li>利用は無料ですが、<a href="http://www.netmania.jp/abouts.php">に関してはこちら</a>をご覧下さい。</li>
    <li>利用は無料ですが、<a href="http://www.netmania.jp/abouts.php">に関してはこちら</a>をご覧下さい。</li>
  </ul>
  </div><!-- main -->
  </div>

</body>

</body>
</html>