<% au = AuthUser.find_by_id(session[:auth_user_id]) %>
<% if au %>

<body>
  <header>
  <h1>ついったー
  <div class="logout_button">
  <%= link_to 'ログアウト', '/auth/twitter/signout' %>
  </div>
  </h1>
    <ul id="normal" class="dropmenu">
      <li><a href="#">リスト</a>
        <ul>
          <% @client.lists.each do |list| %>
            <li><%= link_to list.name, listtimeline_path(name: list.name) %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>

  </header>

  <div class="contents">

  </div>

  <footer>
  </footer>
</body>



<% else %>

認証ログインしてないぞい！
<%= link_to 'ログイン', '/auth/twitter' %>

<% end %>