<% au = AuthUser.find_by_id(session[:auth_user_id]) %>
<% if au %>

<body>
  <header>
  <h1>ついったー</h1>
    <ul id="normal" class="dropmenu">
      <li><a href="#">リスト</a>
        <ul>
          <% @client.lists.each do |list| %>
            <li><%= link_to list.name, listtimeline_path(name: list.name) %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>

  </header>




  <div class="contents">


  <div id="main">
  <div id="menu"><a href="/index.html">メニュー１</a> | <a href="/index.html">メニュー２</a> | <a href="/index.html">メニュー３</a> | <%= link_to 'ログアウト', '/auth/twitter/signout' %></div>

<h3>シンプルテキストテンプレート</h3>
<p>ちょっとしたお。</p>

<h3>お勧めな活用方法</h3>
こんなときに使えます。
  <ul>
    <li>お気に入り絵師さんのイラスト更新利用する</li>
  </ul>

  <h4>ご利用規約</h4>

  <ul>
    <li>利用は無料ですが、<a href="http://www.netmania.jp/abouts.php">商用利用に関してはこちら</a>をご覧下さい。</li>
  </ul>

  </div><!-- main -->




  </div>

  <footer>
  </footer>
</body>













<% else %>

認証ログインしてないぞい！
<%= link_to 'ログイン', '/auth/twitter' %>

<% end %>