body, html {
  height: 100%;
  background-color: #ddd;
}
h1, h2, h3, h4, h5, h6, p, body {
  color: #4a4a4a;
  /*color: #ffffff;*/
  font-family: sans-serif;
/*  margin: 0;
  padding: 0;*/
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.wrapper{
  min-width: 960px;
  }

li.tweet{
  margin: 10px 0 0 206px;
}

body { padding-top: 46px; }

header{
  height: 46px;
  background-color: white;
  /*border-bottom: 2px solid #bbb;*/
}

footer{
  height: 46px;
}


h1{
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

.contents_tweet{
  min-height: 100%;
/*  width: 600px;*/
  margin: 5px auto 0;
  background-color: white;
}


.message{
  min-height: 100px;
  /*width: 598px;*/
  margin: 0 auto;
  background-color: #fff;
  /*background-color: #191919;*/
  border: 1px solid #bbb;
  /*border: 2px solid #ffffff;*/
  border-bottom: none;
}

.message img{
  border: 0px solid #ccc;
  border-radius: 5px;
  float: left;
  /*max-width: 510px;*/
  max-width: 100%;
  margin: 1px;
}

.message_box{
  float: left;
  min-height: 100px;
/*  width: 505px;*/
  /*width: 90%;*/
  padding: 0 1px 10px;
}

.user_name{
  font-weight: bold;
  line-height: 18px;
  margin: 5px 0px;
}

.text{
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 0px 1px;
}

.tweet_button{
  margin: 0 0 0 right;
}